* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
/* navigator */
#links {
  margin: 20px 0;
}

/* heading-1-2 */
.title,
.title-des {
  margin: 18px 0;
}

.text {
  font-size: 16.5px;
}

.copy,
.text {
  padding: 10px 0;
}

/* Timings */
table {
  display: inline-flex;
  margin-bottom: 10px;
}
th {
  padding: 0 40px;
}
td {
  padding-right: 40px;
  text-align: left;
}

/* contact */
textarea{
  text-align: left;
}
button{
  margin-bottom: 20px;
  padding: 0 5px;
}